.form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.form-payment {
    width: 495px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #8C0052;
    border-radius: 7px;
    box-sizing: border-box;
    padding: 15px 20px;
}

.form-title {
    color: #8C0052;
    font-size: 18px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.btn-pix{
    height: 50px;
    width: 200px;
    margin-bottom: 8px;
    background-color: #8C0052;
    border-radius: 6px;
    border: 1px solid #8C0052;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff !important;
    font-size: 16px;
    margin-left: 20px;
}

.btn-pix:hover {
    background-color: #8C0052;
    border-radius: 6px;
    border: 1px solid #8C0052;
}

.btn-card{
    height: 50px;
    width: 200px;
    margin-top: 8px;
    background-color: #8C0052;
    border-radius: 6px;
    border: 1px solid #8C0052;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff !important;
    font-size: 16px;
    margin-left: 20px;
}

.btn-card:hover {
    background-color: #8C0052;
    border-radius: 6px;
    border: 1px solid #8C0052;
}

.box-footer-payment{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 24px;
}
